backend/.github/
backend/.idea/
notes/

# terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/*.tfvars
!**/*.tfvars.example

# instructions
AGENTS.md

# docs
docs/

reference/

# logs
**/logs